;; shadow-cljs configuration
{:source-paths
  [ "src"]

 :dependencies
 []

 :builds
 {:adventofcode {:target :node-script
                 :output-dir "output"
                 :asset-path "/assets"
                 :modules {:main {:entries [adventofcode.init]}}}}}
